{% block alok %}
    <table align="center" border="2" width="850">
    <tr><th style="background: lightblue;font-size: 25px;font-family: Impact;text-align: center" colspan="8">All Courses</th>
    </tr>
    <tr>

        <th>Name</th>
        <th>Faculty</th>
        <th>Date</th>
        <th>Time</th>
        <th>Fee</th>
        <th>Duration</th>
    </tr>
        <tr>
            <th>Python</th>
             <th>Naneen Kumar</th>
             <th>20/7/2020</th>
             <th>11:00 AM</th>
             <th>3000</th>
             <th>45 days</th>
        </tr>
    </table>

{% endblock %}